- hosts: appliance
  gather_facts: no
  connection: network_cli

  tasks:
    - junos_netconf:
        netconf_port: 22

- hosts: appliance
  gather_facts: no
  connection: netconf

  tasks:
    - junos_config:
        src: appliance_config
